Index of the moods

<ul class="moods">
  <% @moods.each do |mood| %>
    <li><%= "#{mood.created_at.strftime("%d/%m/%Y")}: #{mood.human_value}" %></li>
  <% end %>
</ul>

<%= render partial: "graph" %>