<%= provide(:title, "DailyMood Dashboard" ) %>


<ul class="moods">
  <% @moods.each do |mood| %>
    <li><%= "#{mood.created_at.strftime("%d/%m/%Y")}: #{mood.human_value}" %> <img src="<%= mood.weather.icon_url %>" /></li>
  <% end %>
</ul>

<%= render partial: "graph" %>