<div class="baseline">
  <h1 class="cover-heading">Want to track your DailyMood ?</h1>
  <p class="lead"><!-- Button trigger modal -->
    <button class="btn btn-lg btn-default" data-toggle="modal" data-target="#signup">
      <span class="glyphicon glyphicon-ok"></span>Start tracking now
    </button>
  </p>
</div>

<!-- Modal Sign Up-->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Start tracking now</h4>
      </div>
      <%= render partial: 'users/registrations/form' %>
    </div>
  </div>
</div>

<!-- Modal Sign In-->
<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Log In</h4>
      </div>
      <%= render partial: 'users/sessions/form' %>
    </div>
  </div>
</div>