<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome Email</title>
  
<link rel="stylesheet" type="text/css" href="/email.css" />

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#73A9BA">
  <tr>
    <td></td>
    <td class="header container">
      
        <div class="content">
          <table bgcolor="#73A9BA">
          <tr>
            <td><!-- <img src="http://placehold.it/200x50/" /> --></td>
            <td align="right"><h6 class="collapse">Daily Mood</h6></td>
          </tr>
        </table>
        </div>
        
    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            
            <h3>Hi <%= @user.email %>, how do you fell today ?</h3>
            <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p> -->
            

                        
            <br/>
            <br/>             
                        
          </td>
        </tr>
      </table>
      <table width="100%">
        <td align="center">      
          <p class="" width="100%">
            <a href="<%= @mood.url(1) %>" target="_blank"><h3>Bad</h3></a>
            <a href="<%= @mood.url(2) %>" target="_blank"><h3>Normal</h3></a>
            <a href="<%= @mood.url(3) %>" target="_blank"><h3>Good</h3></a>
          </p>  
        </td>
      </table>
      </div>
                  
    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">
      
        <!-- content -->
        <div class="content">
        <table>
        <!-- <tr>
          <td align="center">
            <p>
              <a href="#">Terms</a> |
              <a href="#">Privacy</a> |
              <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
            </p>
          </td>
        </tr> -->
      </table>
        </div><!-- /content -->
        
    </td>
    <td></td>
  </tr>
</table><!-- /FOOTER -->

</body>
</html>