body
  font-family: proxima-nova
  width: 100%

body.not-connected
  background: image-url("bg.jpg") no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.navbar, footer
  width: 100%
  background-color: #333

.brand, h1, h2, h3
  font-family: rooney-web

.brand
  font-weight: normal
  font-style: normal
  font-size: 20px
  color: white !important

.baseline
  text-align: center
  height: 300px
  vertical-align: middle
  margin: auto
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

footer
  height: 50px
  background-color: #333
  color: #fff
  padding-top: 15px
  padding-bottom: 15px
  text-align: center
  position: absolute
  bottom: 0