<h3>Backoffice Home</h3>

<div class="well">
  <%= link_to  "Stats internes", backoffice_users_path, class: "btn btn-primary" %>
  <%= link_to  "Gestion des admins", backoffice_admins_path, class: "btn btn-primary" %>

</div>